{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<p class="welcome">
    Welcome to KTM Bike Sales Management System
</p>

<div class="cards">

    <div class="card">
        <h3>🏍️ Total Bikes</h3>
        <h2>7</h2>
    </div>

    <div class="card">
        <h3>👤 Customers</h3>
        <h2>3</h2>
    </div>

    <div class="card">
        <h3>🧾 Total Sales</h3>
        <h2>3</h2>
    </div>

    <div class="card">
        <h3>💰 Revenue</h3>
        <h2>₹755,000</h2>
    </div>

</div>

{% endblock %}